<template name="header">
    <header>
        <h1 class="center-align">to do<small class="dot1">.</small><small class="dot2">.</small><small class="dot3">.</small></h1>
    </header>
</template>

<template name="form">
    <form class="add-new-task">
        <div class="input-field">
            <input type="text" placeholder="add a new task" />
        </div>
        <div class="center-button">
            <button class="waves-effect waves-light btn">Submit</button>
        </div>
    </form>
</template>

<template name="todos">
    <ul class="collection">
        <!--going over each item in the todo list (todoList)-->
        {{#each todoList}}
        <!--"this" refers to the current object that we are accessing in a loop-->
        <li class="collection-item {{#if this.complete}}completed{{/if}}">
            {{this.name}}
            <div class="secondary-content">
                {{> completeCheck this}}
                <a class="delete-task"><i class="material-icons">delete</i></a>
            </div>
            <small id="time">({{this.createdAt}})</small>
        </li>
        {{/each}}
    </ul>
</template>

<template name="completeCheck">
    {{#unless this.complete}}
    <a class="complete-task"><i class="material-icons">done</i></a> {{else}}
    <a class="incomplete-task"><i class="material-icons">not_interested</i></a> {{/unless}}
</template>