<head>
    <title>to do</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" href="ch.ico" />
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href=".container" class="brand-logo center">to do</a>
            </div>
        </nav>
    </div>

    <div class="container">
        <!--angle brackets are used for loading templates-->
        {{> header}} {{> todos}} {{> form}}
    </div>
    <div class="about">
        <h2>about</h2>
        <div class="des">
            <p>Have a hectic schedule?
                <br> <small class="done">to do</small> is here to help!
                <br> Just add a new task and check it off as needed.
                <br> It's that easy.
                <br> <a class="btn" href=".container">Begin</a></p>
        </div>
    </div>

</body>