/************************
GENERAL
************************/

* {
    font-family: 'Raleway', sans-serif;
}

@keyframes fadeInLoad {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/************************
NAVBAR
************************/

nav {
    background-color: #f3c3ac;
}

.brand-logo {
    animation: fadeInLoad 3s;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    text-decoration: line-through;
}

.n {
    color: #fff;
}

.done {
    color: #212121;
    font-family: 'Raleway', sans-serif;
    text-decoration: line-through;
}


/************************
TITLE
************************/

h1 {
    animation: fadeInLoad 3s;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 240px;
    height: 100%;
    padding-top: 10px;
    text-align: center;
    text-shadow: 10px 10px #f3c3ac;
}

.dot1 {
    animation: fadeInLoad 6s;
}

.dot2 {
    animation: fadeInLoad 8s;
}

.dot3 {
    animation: fadeInLoad 10s;
}


/************************
LIST
************************/

.completed {
    text-decoration: line-through;
}

.secondary-content a {
    margin: 0 0.5em;
}

.complete-task {
    color: #1cac1c;
}

.incomplete-task {
    color: #D50000;
}

i {
    cursor: pointer;
}

.center-button {
    text-align: center;
}

.input-field {
    margin: 0 auto;
    width: 75%;
}

.btn {
    background-color: #f3c3ac;
}

.btn:hover {
    background-color: #DBB09B;
}

.delete-task {
    color: #DBB09B;
}

#time {
    float: right;
}


/************************
ABOUT
************************/

.about {
    background-image: url("p.jpg");
    background-size: cover;
    height: 603px;
    margin-top: 100px;
}

h2 {
    color: #fff;
    font-size: 200px;
    padding-left: 165px;
    padding-top: 25px;
    text-decoration: 3px 3px #f3c3ac;
}

p {
    color: #212121;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    line-height: 37px;
    padding-left: 170px;
}

.des {
    padding-top: 1px;
}